<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>検査区間サンプル</title>
</head>
<body>
<b>検査区間サンプル</b>
<center>

<table border="1" cellspacing="0" cellpadding="10">
<tr bgcolor="skyblue">
<td align="center" nowrap="nowrap">想定攻撃</td>
<td align="center" nowrap="nowrap">概要</td>
<td align="center" nowrap="nowrap">区間</td>
</tr>
{{ range $j, $r := .Patterns }}{{ range $i, $d := $r.Routes }}
<tr valign="top">
{{ if eq $i 0 }}
<td align="left" rowspan="{{ len $r.Routes }}">{{ $r.Assume }}</td>
<td align="left" rowspan="{{ len $r.Routes }}">{{ $r.Note }}</td>
{{ end }}
<td align="center" nowrap="nowrap">{{ $d.From }} → {{ $d.To }}</td>
</tr>
{{ end }}{{ end }}
</table>
</body>
</html>
