<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>検査結果サンプル</title>
</head>
<body>
<b>検査結果サンプル</b>
<center>

<table border="1" cellspacing="0" cellpadding="10">
<tr bgcolor="skyblue">
<td align="center" nowrap="nowrap">想定攻撃</td>
<td align="center" nowrap="nowrap">概要</td>
<td align="center" nowrap="nowrap">該当区間数</td>
<td align="center" nowrap="nowrap">問題区間数(%)</td>
<td align="center" nowrap="nowrap">区間</td>
<td align="center" nowrap="nowrap">疎通結果</td>
<td align="center" nowrap="nowrap">スキャン結果</td>
</tr>
{{ range $j, $r := .Reports }}{{ range $i, $d := $r.Details }}
<tr valign="top">
{{ if eq $i 0 }}
<td align="left" rowspan="{{ $r.Summary.Total }}">{{ $r.Assume }}</td>
<td align="left" rowspan="{{ $r.Summary.Total }}">{{ $r.Note }}</td>
<td align="center" rowspan="{{ $r.Summary.Total }}">{{ $r.Summary.Total }}</td>
{{ if gt $r.Summary.Ng 0 }}
<td align="center" rowspan="{{ $r.Summary.Total }}" bgcolor="red">{{ $r.Summary.Ng }}<br>({{ $r.Summary.Rate }}%)</td>
{{ else }}
<td align="center" rowspan="{{ $r.Summary.Total }}">{{ $r.Summary.Ng }}</td>
{{ end }}
{{ end }}
<td align="center" nowrap="nowrap">{{ $d.Route.From }} → {{ $d.Route.To }}</td>
{{ if eq $d.Communication.Result "NG" }}
<td align="center" bgcolor="red">{{ $d.Communication.Result }}</td>
{{ else }}
<td align="center">{{ $d.Communication.Result }}</td>
{{ end }}
{{ if eq $d.Vulnerability.Result "NG" }}
<td align="center" bgcolor="red">{{ $d.Vulnerability.Result }}</td>
{{ else }}
<td align="center">{{ $d.Vulnerability.Result }}</td>
{{ end }}
</tr>
{{ end }}{{ end }}
</table>
</body>
</html>
